In [2]:
import pandas as pd

In [3]:
raw_school_names = "Resources/schools_complete.csv"
raw_student_names = "Resources/students_complete.csv"

In [4]:
school_names = pd.read_csv(raw_school_names)
school_names.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [5]:
student_names = pd.read_csv(raw_student_names)
student_names.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [78]:
#merge 

file_merge = pd.merge(raw_school_names,raw_student_names, on="school_name")

TypeError: Can only merge Series or DataFrame objects, a <class 'str'> was passed

In [ ]:
# * Create a high level snapshot (in table form) of the district's key metrics, including:
#   * Total Schools
#   * Total Students
#   * Total Budget
#   * Average Math Score
#   * Average Reading Score
#   * % Passing Math (The percentage of students that passed math.)
#   * % Passing Reading (The percentage of students that passed reading.)
#   * % Overall Passing (The percentage of students that passed math **and** reading.)


total_schools = school_names["school_name"].count()
total_students = student_names["Student ID"].count()
total_budget = school_names["budget"].sum()
ave_math = student_names["math_score"].mean()
ave_reading = student_names["reading_score"].mean()
passing_math = student_names.loc[(student_names["math_score"] > 69)]
passing_reading = student_names.loc[(student_names["reading_score"] > 69)]
passing_math_number = passing_math.count()
passing_reading_number = passing_reading.count()
percent_passing_math = passing_math_number/total_students
percent_passing_reading = passing_reading_number/total_students


overview_list = ({"total_schools"})