In [1]:
import pandas as pd

In [2]:
raw_school_names = "Resources/schools_complete.csv"
raw_student_names = "Resources/students_complete.csv"

In [3]:
school_names = pd.read_csv(raw_school_names)
school_names.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [4]:
student_names = pd.read_csv(raw_student_names)
student_names.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [78]:
# #merge 

# file_merge = pd.merge(raw_school_names,raw_student_names, on="school_name")

TypeError: Can only merge Series or DataFrame objects, a <class 'str'> was passed

In [20]:
# * Create a high level snapshot (in table form) of the district's key metrics, including:
#   * Total Schools
#   * Total Students
#   * Total Budget
#   * Average Math Score
#   * Average Reading Score
#   * % Passing Math (The percentage of students that passed math.)
#   * % Passing Reading (The percentage of students that passed reading.)
#   * % Overall Passing (The percentage of students that passed math **and** reading.)


total_schools = school_names["school_name"].count()
total_students = student_names["Student ID"].count()
total_budget = school_names["budget"].sum()
ave_math = student_names["math_score"].mean()
ave_reading = student_names["reading_score"].mean()
passing_math = student_names.loc[(student_names["math_score"] > 69)]
passing_math_num = len(passing_math)
passing_math_percent = (passing_math_num/total_students) * 100
passing_reading = student_names.loc[(student_names["reading_score"] > 69)]
passing_reading_num = len(passing_reading)
passing_reading_precent = (passing_reading_num/total_students) * 100

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
8,8,Michael Roth,M,10th,Huang High School,95,87
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75